@import 'src/app/style/colors';

$form-bg: $background-color-dark;
$body-bg: #c1bdba;
$white: #ffffff;

$main: $hue-1;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.table-content {
  display: flex;
  .left {
    width: 80%;
  }

  .right {
    width: 20%;
  }

}

.content {
    margin-top: $headerHeight;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 40px;
}


.add-btn {
  margin-top: 20px;
}

.devices-title {
  margin-top: 45px;
}

.device-entry {
  margin-top: 15px;
  margin-bottom: 15px;
  border:1px solid $gray-light;
  padding: 2px;
  padding-left: 10px;

  &.dirty {
    border-color: $hue-4;
  }

  a {
    font-size: 11px;
    float: right;
    padding-right: 3px;
    margin-top: 3px;
    text-decoration: underline;
    cursor: pointer;
  }

  input {
    border: none;
    font-size: 11px;
    padding: 0;
  }
}


// form style
.form {
    background:rgba($form-bg,.9);
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:$br;
    box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}



label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color:rgba($white,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
    .req {
        margin:2px;
        color:$main;
    }
  }
  
  label.active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
    .req {
      opacity:0;
    }
  }
  
  label.highlight {
      color:$white;
  }
  
  input, textarea {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid $gray-light;
    color:$white;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
          outline:0;
          border-color:$main;
    }
  }
  
  textarea {
    border:2px solid $gray-light;
    resize: vertical;
  }
  
  .field-wrap {
    position:relative;
    margin-bottom:40px;
  }
  
  .top-row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  
    > div {
      float:left;
      width:48%;
      margin-right:4%;
      &:last-child { 
        margin:0;
      }
    }
  }
  
  .button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:$bold;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:$main;
    color:$white;
    transition:all.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
      background:$main-dark;
    }
  }
  
  .button-block {
    display:block;
    width:100%;
}